<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                {%- if section.settings.enable_social_icon -%}
				<ul class="social-media">
                    {%- if section.settings.facebook_url != blank -%}
					<li>
						<a href="{{ section.settings.facebook_url }}">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li>
                    {%- endif -%}
                    {%- if section.settings.twitter_url != blank -%}
					<li>
						<a href="{{ section.settings.twitter_url }}">
							<i class="tf-ion-social-twitter"></i>
						</a>
					</li>
                    {%- endif -%}
                    {%- if section.settings.instagram_url != blank -%}
                    <li>
						<a href="{{ section.settings.instagram_url }}">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
                    {%- endif -%}
                    {%- if section.settings.pinterest_url != blank -%}
					<li>
						<a href="{{ section.settings.pinterest_url }}">
							<i class="tf-ion-social-pinterest"></i>
						</a>
					</li>
                    {%- endif -%}
                    {%- if section.settings.youtube_url != blank -%}
                    <li>
						<a href="{{ section.settings.youtube_url }}">
							<i class="tf-ion-social-youtube"></i>
						</a>
					</li>
                    {%- endif -%}
				</ul>
                {%- endif -%}
                {%- if section.settings.enable_footer_menu -%}
				<ul class="footer-menu text-uppercase">
                    {%- for link in section.settings.footer_menu.links -%}
					<li>
						<a href="{{ link.url }}">{{ link.title | escape }}</a>
					</li>
                    {%- endfor -%}
				</ul>
                {%- endif -%}
				<p class="copyright-text">
                    {%- if section.settings.enable_copyright_text -%}
                    {{ section.settings.copyright_text }}
                    {%- else -%}
                    &copy; {{ 'now' | date: '%Y'}} - {{ shop.name }}
                    {%- endif -%}
                </p>
			</div>
		</div>
	</div>
</footer>

{% schema %}
{
    "name"      : "Footer",
    "class"     : "section-footer",
    "settings"  : [
        {
            "type"      : "checkbox",
            "id"        : "enable_social_icon",
            "default"   : true,
            "label"     : "Enable Social Icon"   
        },
        {
            "type"      : "text",
            "id"        : "facebook_url",
            "default"   : "https://facebook.com/",
            "label"     : "Facebook URL"
        },
        {
            "type"      : "text",
            "id"        : "twitter_url",
            "default"   : "https://twitter.com/",
            "label"     : "Twitter URL"
        },
        {
            "type"      : "text",
            "id"        : "instagram_url",
            "default"   : "https://instagram.com/",
            "label"     : "Instagram URL"
        },
        {
            "type"      : "text",
            "id"        : "pinterest_url",
            "default"   : "https://pinterest.com/",
            "label"     : "Pinterest URL"
        },
        {
            "type"      : "text",
            "id"        : "youtube_url",
            "default"   : "https://youtube.com/",
            "label"     : "Youtube URL"
        },
        {
            "type"      : "checkbox",
            "id"        : "enable_footer_menu",
            "default"   : true,
            "label"     : "Enable Footer Menu"   
        },
        {
            "type"      : "link_list",
            "id"        : "footer_menu",
            "label"     : "Footer Menu"
        },
        {
            "type"      : "checkbox",
            "id"        : "enable_copyright_text",
            "default"   : false,
            "label"     : "Enable Custom Copyright Text"
        },
        {
            "type"      : "inline_richtext",
            "id"        : "copyright_text",
            "default"   : "© Aviato | Made with ❤ in Bangladesh",
            "label"     : "Footer Copyright Text"
        }
    ]
}
{% endschema %}