<!-- Start Top Header Bar -->
<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
                {%- if section.settings.enable_phone_number -%}
				<div class="contact-number">
					<i class="tf-ion-ios-telephone"></i>
					<span><a href="tel:{{ section.settings.phone_number }}">{{ section.settings.phone_number }}</a></span>
				</div>
                {%- endif -%}
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="/">
                        {%- if section.settings.enable_header_logo -%}
                            {{ section.settings.custom_header_logo | image_url: width:100 | image_tag }}
                        {%- else -%}
						<!-- replace logo here -->
						<svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family="AustinBold, Austin" font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
									<text id="AVIATO">
										<tspan x="108.94" y="325">{{ shop.name }}</tspan>
									</text>
								</g>
							</g>
						</svg>
                        {%- endif -%}
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-right list-inline">
                    {%- if section.settings.enable_header_cart -%}
					<li class="dropdown cart-nav dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-android-cart"></i>Cart</a>
						<div class="dropdown-menu cart-dropdown">
							<!-- Cart Item -->
							<div class="media">
								<a class="pull-left" href="#!">
									<img class="media-object" src="images/shop/cart/cart-1.jpg" alt="image" />
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
									<div class="cart-price">
										<span>1 x</span>
										<span>1250.00</span>
									</div>
									<h5><strong>$1200</strong></h5>
								</div>
								<a href="#!" class="remove"><i class="tf-ion-close"></i></a>
							</div><!-- / Cart Item -->
							<!-- Cart Item -->
							<div class="media">
								<a class="pull-left" href="#!">
									<img class="media-object" src="images/shop/cart/cart-2.jpg" alt="image" />
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
									<div class="cart-price">
										<span>1 x</span>
										<span>1250.00</span>
									</div>
									<h5><strong>$1200</strong></h5>
								</div>
								<a href="#!" class="remove"><i class="tf-ion-close"></i></a>
							</div><!-- / Cart Item -->

							<div class="cart-summary">
								<span>Total</span>
								<span class="total-price">$1799.00</span>
							</div>
							<ul class="text-center cart-buttons">
								<li><a href="cart.html" class="btn btn-small">View Cart</a></li>
								<li><a href="checkout.html" class="btn btn-small btn-solid-border">Checkout</a></li>
							</ul>
						</div>

					</li><!-- / Cart -->
                    {%- endif -%}
                    {%- if section.settings.enable_header_search -%}
					<!-- Search -->
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="tf-ion-ios-search-strong"></i> Search
                        </a>
						<ul class="dropdown-menu search-dropdown">
							<li>
								<form action="{{ routes.search_url }}">
                                    <input type="search" class="form-control" name="q" placeholder="Search...">
                                </form>
							</li>
						</ul>
					</li><!-- / Search -->
                    {%- endif -%}
				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->

{%- if section.settings.enable_header_menu -%}
<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">
					{%- for link in section.settings.header_menu.links -%}
					{%- assign dropdown_menu = 'dropdown-slide' -%}
					<li class="dropdown {% if link.links.size > 0 %} {{ dropdown_menu }} {% endif %}">
						{%- if link.links.size > 0 -%}
							<a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
								role="button" aria-haspopup="true" aria-expanded="false">
								{{ link.title }} <span class="tf-ion-ios-arrow-down"></span>
							</a>
							<ul class="dropdown-menu">
								{%- for childlink in link.links -%}
									{%- if childlink.links.size > 0 -%}
										{%- if childlink.links.size > 2 -%}
											{% assign column = 'col-sm-4 col-xs-12' %}
										{%- else -%}
											{% assign column = 'col-lg-6 col-md-6 mb-sm-3' %}
										{%- endif -%}
										<div class="{{ column }}">
											<ul>
												<li class="dropdown-header">{{ childlink.title }} {{ childlink.length }}</li>
												<li role="separator" class="divider"></li>
												{%- for grandchild in childlink.links -%}
												<li><a href="{{ grandchild.url }}">{{ grandchild.title }}</a></li>
												{%- endfor -%}
											</ul>
										</div>
									{%- else -%}
										<li>
											<a href="{{ childlink.url }}">{{ childlink.title }}</a>
										</li>
									{%- endif -%}
								{%- endfor -%}
							</ul>
						{%- else -%}
							<a href="{{ link.url }}">{{ link.title }}</a>
						{%- endif -%}
					</li>
					{%- endfor -%}
				</ul><!-- / .nav .navbar-nav -->

			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>
{%- endif -%}

{% schema %}
{
    "name": "Header",
    "class": "section-header",
    "settings": [
        {
            "type"      : "checkbox",
            "id"        : "enable_phone_number",
            "default"   : true,
            "label"     : "Enable Phone Number"
        },
        {
            "type"      : "text",
            "id"        : "phone_number",
            "default"   : "+880-12345-67890",
            "label"     : "Phone Number"
        },
        {
            "type"      : "checkbox",
            "id"        : "enable_header_logo",
            "default"   : false,
            "label"     : "Enable Logo"
        },
        {
            "type"      : "image_picker",
            "id"        : "custom_header_logo",
            "label"     : "Header Logo"
        },
        {
            "type"      : "checkbox",
            "id"        : "enable_header_cart",
            "default"   : false,
            "label"     : "Enable Header Cart"
        },
        {
            "type"      : "checkbox",
            "id"        : "enable_header_search",
            "default"   : true,
            "label"     : "Enable Search Button"
        },
		{
			"type"		: "checkbox",
			"id"		: "enable_header_menu",
			"default"	: true,
			"label"		: "Enable Menu"
		},
		{
			"type"		: "link_list",
			"id"		: "header_menu",
			"label"		: "Menu"
		}
    ]
}
{% endschema %}